# Active la réécriture d'URL
RewriteEngine On

# Redirige la racine vers index.php
RewriteRule ^$ index.php [L]

# ----------- URLS ACCUEIL -------------
RewriteRule ^contact/?$ control/contact.php [L]
RewriteRule ^confirmation$ control/confirmation.php [QSA,L]
RewriteRule ^faq/?$ control/faq.php [L]
RewriteRule ^mentions_legales/?$ control/mention_legal.php [L]


# ----------- URLS GEODEX --------------
RewriteRule ^app$ app/index.php [L]
RewriteRule ^app/dashboard$ app/control/dashboard.php [L]
RewriteRule ^app/geodex$ app/control/geodex.php [L]
RewriteRule ^app/geodex/([^/]+)$ app/control/geodex.php?id=$1 [L,QSA]
RewriteRule ^app/profil$ app/control/profil.php [L]

# ----------- URLS ADMIN ---------------
RewriteRule ^admin$ admin/index.php [L]
RewriteRule ^admin/manage_home$ admin/control/manage_home.php [L]
RewriteRule ^admin/manage_geodex$ admin/control/manage_geodex.php [L]
RewriteRule ^admin/manage_faq$ admin/control/manage_faq.php [L]
RewriteRule ^admin/manage_users$ admin/control/manage_users.php [L]
RewriteRule ^admin/faq$ admin/control/faq.php [L]
