@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('components.css');
@import url('var.css');
@import url('contact.css');
@import url('faq.css');



/* Pour les navigateurs basés sur WebKit (Chrome, Edge, Safari, etc.) */
::-webkit-scrollbar {
    display: none;
}

/* Pour Firefox */
html {
    scrollbar-width: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    overflow-y: scroll;
    -ms-overflow-style: none;

}

h3 {
    font-family: 'Felipa', sans-serif;
    font-size: 2rem;
}