@import url('var.css');
@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('components.css');
@import url('contact.css');
@import url('faq.css');
@import url('confirmation.css');




/* Pour les navigateurs basés sur WebKit (Chrome, Edge, Safari, etc.) */
::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

/* Pour Firefox */
html {
    scrollbar-width: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    overflow-y: scroll;
    -ms-overflow-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--white);
    flex-grow: 1;
}

h3 {
    font-family: 'Felipa', sans-serif;
    font-size: 2rem;
}