/* Footer */
.footer {
    background-color: var(--main-color-light);
    color: var(--secondary-color-light);
    padding: 40px 0;
    text-align: center;
    margin-top: 500px;
}

/* Conteneur du footer */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Liens du footer */
.footer-links {
    margin-bottom: 20px;
}

.footer-link {
    color: var(--secondary-color-light);
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: var(--secondary-color);
}

/* Réseaux sociaux */
.footer-socials {
    margin-bottom: 20px;
}

.footer-social {
    color: var(--secondary-color-light);
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-social:hover {
    color: var(--secondary-color);
    /* Remplace par la couleur souhaitée */
}

/* Copyright */
.footer-copy {
    font-size: 14px;
}