body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur du profil */
.profile-container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

/* Titre */
h2 {
    margin-bottom: 20px;
}

/* Champ de profil */
.profile-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

/* Label */
label {
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
}

/* Texte affiché */
.profile-field span {
    flex-grow: 2;
    text-align: left;
}

/* Icône d'édition */
.edit-icon {
    cursor: pointer;
    color: var(--main-color);
    transition: color 0.2s;
}

.edit-icon:hover {
    color: var(--secondary-color);
}

/* Champ de saisie caché */
.edit-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

/* Message */
#message {
    color: green;
    margin-top: 10px;
}