:root {
    --main-black: #202124;
    --main-color: #272D4E;
    --main-color-light: #3B4883;
    --secondary-color: #DBBBA7;
    --secondary-color-light: #E8DFD5;
    --strong-color: #FF7124;
    --form-color:#dbbba7c0;
}