<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LootBox</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Tirage au sort</h1>
        <p>Clique sur l'image pour obtenir un résultat !</p>
        <div class="card">
            <img id="geode" src="../images/geode.gif" alt="openable Geode">
        </div>

    </div>

    <script src="js/geode.js"></script>
</body>

</html>